*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
  width: 164px;
height: 44px;
color: rgba(255, 255, 255, 1);
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 16px 12px 16px;
background-color: #30B868;
border-radius: 4px;

}
.logo{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 120px ;
/* border:solid red; */
margin: 0 auto;
}
.logo .menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;

}
.logo .menu a{
  text-decoration: none;;
font-size: 16px;
font-weight: 500;
line-height: 152%;
color: #000000;
text-align: left;
}
.logof{
  width: 1600px;
height: 2908px;
display: flex;
justify-content: flex-start;
}
#banner{
  width: 2042px;
height: 1363px;
background-image: url(assets/hero-bg.png);

background-size: cover;

}
  .banner-content{
    height: 295px;
    width: 1360px;
    vertical-align: 16px;;
justify-content: flex-start;
align-items: center;
gap: 16;
margin: 0  auto;
padding:150px 295px;
text-align: center;
  }
  .banner-content h3{
    width: 229px;
height: 35px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 6;
padding: 8px 12px;

border-radius: 1000px;
color: #30B868;
background-color: rgba(255, 255, 255, 1);
margin: 0 auto;

  }
   .banner-content h1{
    width: 770px;
height: 168px;
font-family: Inter;
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;
letter-spacing: 0%;
text-align:center;
text-transform: capitalize;
    margin: 0 auto;
   }

 .banner-content p{
  width:71%;
max-width: 1410;
margin: 0 auto;
color:rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: justify;
align-items: center;
}
.btn2{
  width: 164px;
height: 44px;
color: rgba(255, 255, 255, 1);
justify-content:left;
align-items: center;
text-align: justify;
gap: 16;
padding: 12px 16px  ;
background-color: rgb(71, 70, 70);
border-radius: 4px;

}
#skills{
  padding-top: 130px;
  margin-bottom: 120px;
}
#skills .skills-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;

}
#skills .skills-container .skill-box{
  display: flex;
  gap: 24px;

}
.skill-box .skill-card{
  padding: 30px;
  /* border: 1px solid red; */
  box-shadow: 0 6px 50px 0 #00000023;
  max-width: 267px;
}
.skill-card img{
  
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}
.skill-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;



} 
.skill-card p{
  font-size: 16px;
  color: #757575;
  line-height: 28px;
  
}
.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-heading h2{
  font-size: 35px;
  margin-bottom: 30px;

}
.section-heading p{
  font-size: 18px;
  margin-bottom:30px ;
  line-height:30px ;
  color: #757575;}
  .flex{
    display: flex;
    align-items: center;
   width: 71%;
   max-width: 1140px;
    gap: 60px;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 120px;
  }
  .flex2 h2{
    margin-bottom: 20px;
    font-size: 48px;
  }
  .flex2 .para1{
    margin-bottom: 48px;
    font-size: 16;
    text-align: justify;
  }
  .para2{
   
    text-align: justify;
    gap: 16px;
    margin: 0 auto;
  }
  .container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(247, 246, 242, 1);
 margin-bottom: 120px;
 padding: 120px;
  }
.container2{
  width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: justify;
    align-items: center;

}
.container2 h2{
  font-size: 40px;
  margin-bottom: 16px;
}
.container2 p{
  margin-bottom: 16px;
  text-align: justify;
}
 .foot {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #315382;
display: flex;
justify-content: space-between;
 padding: 120px;
 text-align: justify;
 align-items: center;
  }
  .awesome{
    display: flex;
    gap: 10px;
  }
 
#social{
  margin-bottom: 15px;
  line-height: 28px;
  font-size: 20px;
}